  <tr>
    <td class="align-middle pe-0" style="border-bottom-color: inherit;" >
      <img src="{{imgUrl}}" alt="" class=" border align-middle">
    </td>
    <td style="border-bottom-color: inherit;" class="align-middle">{{name}}</td>
    <td class=" align-middle text-center px-5" style="border-bottom-color: inherit;"><span class="badge rounded-pill bg-{{getStockBadgeColour stockCount}} py-2 w-100">{{isInStock stockCount}}</span></td>
    <td class="py-3 align-middle text-center" style="border-bottom-color: inherit;">{{total}}</td>
  </tr>