  <tr>
    <td style="border-bottom-color: inherit;"><img src="{{imgUrl}}" alt="" class="me-3 border" style="height: auto;">{{name}}</td>
    <td class="py-3 align-middle text-center" style="border-bottom-color: inherit;"><span class="badge rounded-pill bg-{{getStockBadgeColour stockCount}} py-2 w-75 ">{{isInStock stockCount}}</span></td>
    <td class="py-3 align-middle text-center" style="border-bottom-color: inherit;">{{total}}</td>
  </tr>